@model IEnumerable<Portal.Models.Test>

@{
    ViewBag.Title = "TestsListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Тесты:</h2>


<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Question", new { testId=item.Id, questionNumber = 1 })
        </td>
    </tr>
}

</table>
